<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer Enlace</title>
</head>
<body>
    <h1>Motor de busqueda</h1>
    <form action="{% url 'url_inicial' %}" method="post">
        {% csrf_token %}
        <label for="url">URL</label>
        <input type="text" name="url">
        <br>
        <label for="analizado">Analizado</label>
        <input type="text" name="analizado">
        <br>
        <label for="palabra_1">Palabra 1</label>
        <input type="text" name="palabra_1">
        <br>
        <label for="palabra_2">Palabra 2</label>
        <input type="text" name="palabra_2">
        <br>
        <label for="palabra_3">Palabra 3</label>
        <input type="text" name="palabra_3">
        <br>
        <button type="submit">Agregar enlace</button>
    </form>
</body>
</html>